# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django
db.sqlite3
/media
/staticfiles
*.log

# Environment variables
.env
*.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
ENV/
.env/