{% extends "base.html" %}
{% load static %}

{% block title %}Message Sent{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="mb-4">
                    <i class="fas fa-check-circle text-success fa-5x"></i>
                </div>
                <h1>Thank You!</h1>
                <p class="lead mb-4">Your message has been sent successfully. We'll respond to you as soon as possible.</p>
                <div class="mt-5">
                    <a href="{% url 'core:home' %}" class="btn btn-primary me-3">Return to Home</a>
                    <a href="{% url 'core:faq' %}" class="btn btn-outline-primary">Browse FAQs</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}